<!doctype html>
<html lang="en">

<head>
  <title>Anh Bien - Design System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="../img/favicon.png">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/anhbien.css">
  <link rel="stylesheet" href="../css/prism.css">
</head>

<body>
  <div class="d-flex">
    <nav id="sidebar">
      <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="toggle-btn">
          <span class="sr-only">Toggle Menu</span>
          <div id="nav-icon1">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </button>
      </div>
      <div class="p-4 pt-6">
        <div class="logo">
          <a href="../index.html"><img alt="Anh Bien logo" src="../img/Color.png" width="80%" /></a>
        </div>

        <ul class="list-unstyled components">
          <li>
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Foundations</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
              <li>
                <a href="../foundation/type.html">Typography</a>
              </li>
              <li>
                <a href="../foundation/color.html">Color</a>
              </li>
              <li>
                <a href="../foundation/logo.html">Logo</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#ComponentsSubmenu" data-toggle="expand" aria-expanded="true"
              class="dropdown-toggle">Components</a>
            <ul class="expand list-unstyled" id="ComponentsSubmenu">
              <li class="active" aria-current="page">
                <a href="../components/buttons.html">Buttons</a>
              </li>
              <li>
                <a href="../components/navbar.html">Navbar</a>
              </li>
              <li>
                <a href="../components/cards.html">Cards</a>
              </li>
              <li>
                <a href="../components/footer.html">Footer</a>
              </li>
              <li>
                <a href="../components/jumbotron.html">Jumbotron</a>
              </li>
              <li>
                <a href="../components/paragraphs.html">Paragraphs</a>
              </li>
              <li>
                <a href="../components/skillTiles.html">Skill Tiles</a>
              </li>
              <li>
                <a href="../components/timelineGrid.html">Timeline Grids</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#PatternsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Patterns</a>
            <ul class="collapse list-unstyled" id="PatternsSubmenu">
              <li>
                <a href="../patterns/homepage_pattern.html">Home Page</a>
              </li>
              <li>
                <a href="../patterns/portfolio-detail-pattern.html">Portfolio Details</a>
              </li>
              <li>
                <a href="../patterns/resume-pattern.html">Resume</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Page Content  -->
    <div class="container">
      <div class="row p-5 pt-6">
        <div id="content">
          <div class="jumbotron color-dark">
            <h1 class="text-white">Buttons</h1>
            <p class="subtitle text-white">Buttons give users a simple and direct way to take an action.</p>
          </div>

          <h2>Configurations</h2>
          <h3>Primary</h3>
          <p>The primary button styling is reserved for the most important call to action on the page. It should be
            applied sparingly to maximize effectiveness.</p>
          <div class="p-5 border">
            <button href="#" class="btn-primary">Primary Button</button>
          </div>
          <!-- Code example-->
          <h3>Code</h3>
          <pre class="language-markup">
            <code>
              &lt;button href="#" class="btn-primary"&gt;Primary Button&lt;/button&gt;
            </code>
          </pre>
          <!-- Code example -->
          <h3>Default</h3>
          <p>The default button styling should be applied to actions of medium importance or when there are multiple,
            equally important calls-to-action on the page, such as in a table.</p>
          <div class="p-5 border">
            <button href="#" class="btn-default">Default Button</button>
          </div>
          <!-- Code example-->
          <h3>Code</h3>
          <pre class="language-markup">
            <code>
              &lt;button href="#" class="btn-default"&gt;Default Button&lt;/button&gt;
            </code>
          </pre>
          <!-- Code example -->
          <h3>Accessibility</h3>
          <p>Ensure accessibility by using descriptive button labels for users using assistive technologies.
            Also, all buttons should only direct to one page and clearly state the page they direct to.</p>
        </div> <!-- Content  -->
      </div><!-- Row  -->
    </div><!-- Container -->
  </div>
  <script src="../js/prism.js"></script>
  <script src="../js/jquery.min.js"></script>
  <script src="../js/popper.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/main.js"></script>
</body>

</html>