<!doctype html>
<html lang="en">

<head>
  <title>Anh Bien - Design System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- This is where you put your google font in if applicable -->
  <!--     <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet"> -->

  <!-- This is the link to the toggle hamburger -->
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/anhbien.css">
  <link rel="stylesheet" href="../css/prism.css">
</head>

<body>

  <div class="d-flex">
    <nav id="sidebar">
      <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="toggle-btn">
          <span class="sr-only">Toggle Menu</span>
          <div id="nav-icon1">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </button>
      </div>
      <div class="p-4 pt-6">
        <h1><a href="../index.html" class="logo">Your Logo</a></h1>

        <ul class="list-unstyled components">

          <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Foundations</a>

            <ul class="collapse list-unstyled" id="homeSubmenu">
              <li>
                <a href="../foundation/type.html">Typography</a>
              </li>
              <li>
                <a href="../foundation/color.html">Color</a>
              </li>
              <li>
                <a href="../foundation/logo.html">Logo</a>
              </li>
            </ul>
          </li>

          <li>
            <a href="#ComponentsSubmenu" data-toggle="collapse" aria-expanded="false"
              class="dropdown-toggle">Components</a>
            <ul class="collapse.show list-unstyled" id="ComponentsSubmenu">
              <li>
                <a href="component1.html">Comp-1-label</a>
              </li>
              <li>
                <a href="#">Comp-2-label</a>
              </li>
              <li>
                <a href="component3.html">Comp-3-label</a>
              </li>
            </ul>
          </li>

          <li>
            <a href="#PatternsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Patterns</a>
            <ul class="collapse list-unstyled" id="PatternsSubmenu">
              <li>
                <a href="../patterns/pattern1.html">Pattern-1-label</a>
              </li>
              <li>
                <a href="../patterns/pattern2.html">Pattern-2-label</a>
              </li>

            </ul>
          </li>


        </ul>




      </div>
    </nav>

    <!-- Page Content  -->
    <div class="container">
      <div class="row p-5 pt-6">
          <div id="content">
            <div class="jumbotron color-dark">
              <h1 class="text-white">Cards</h1>
            </div>
            <h2>Configurations</h2>
            <p>Each card has a background and overlay your card's text. Each card will have a title that link to a
              detail page,
              and a description text that is truncated to 2 lines.</p>
            <div class="border">
              <div class="container-fluid">
                <div class="row">
                  <div class="p-2 col-12 col-md-6 col-lg-4">
                    <div class="card bg-dark text-white">
                      <img src="../img/Thumbnail.svg" class="card-img img-responsive" alt="Alt Text">
                      <div class="card-img-overlay">
                        <a href="#">
                          <h5 class="card-title">PROJECT NAME</h5>
                        </a>
                        <p class="card-text text-truncate-2-line">This is a wider card with supporting text below as a
                          natural lead-in to additional content.</p>
                      </div>
                    </div>
                  </div>
                  <div class="p-2 col-12 col-md-6 col-lg-4">
                    <div class="card bg-dark text-white">
                      <img src="../img/Thumbnail.svg" class="card-img img-responsive" alt="Alt Text">
                      <div class="card-img-overlay">
                        <a href="#">
                          <h5 class="card-title">PROJECT NAME</h5>
                        </a>
                        <p class="card-text text-truncate-2-line">This is a wider card with supporting text below as a
                          natural lead-in to additional content.</p>
                      </div>
                    </div>
                  </div>
                  <div class="p-2 col-12 col-md-6 col-lg-4">
                    <div class="card bg-dark text-white">
                      <img src="../img/Thumbnail.svg" class="card-img img-responsive" alt="Alt Text">
                      <div class="card-img-overlay">
                        <a href="#">
                          <h5 class="card-title">PROJECT NAME</h5>
                        </a>
                        <p class="card-text text-truncate-2-line">This is a wider card with supporting text below as a
                          natural lead-in to additional content.</p>
                      </div>
                    </div>
                  </div>
                  <div class="p-2 col-12 col-md-6 col-lg-4">
                    <div class="card bg-dark text-white">
                      <img src="../img/Thumbnail.svg" class="card-img img-responsive" alt="Alt Text">
                      <div class="card-img-overlay">
                        <a href="#">
                          <h5 class="card-title">PROJECT NAME</h5>
                        </a>
                        <p class="card-text text-truncate-2-line">This is a wider card with supporting text below as a
                          natural lead-in to additional content.</p>
                      </div>
                    </div>
                  </div>
                  <div class="p-2 col-12 col-md-6 col-lg-4">
                    <div class="card bg-dark text-white">
                      <img src="../img/Thumbnail.svg" class="card-img img-responsive" alt="Alt Text">
                      <div class="card-img-overlay">
                        <a href="#">
                          <h5 class="card-title">PROJECT NAME</h5>
                        </a>
                        <p class="card-text text-truncate-2-line">This is a wider card with supporting text below as a
                          natural lead-in to additional content.</p>
                      </div>
                    </div>
                  </div>
                  <div class="p-2 col-12 col-md-6 col-lg-4">
                    <div class="card bg-dark text-white">
                      <img src="../img/Thumbnail.svg" class="card-img img-responsive" alt="Alt Text">
                      <div class="card-img-overlay">
                        <a href="#">
                          <h5 class="card-title">PROJECT NAME</h5>
                        </a>
                        <p class="card-text text-truncate-2-line">This is a wider card with supporting text below as a
                          natural lead-in to additional content.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Code example-->
            <h3>Code</h3>
            <pre class="language-markup">
                <code>
                  &lt;div class="container-fluid"&gt;
                  &#9;&lt;div class="row"&gt;
                  &#9;&#9;&lt;div class="p-2 col-12 col-md-6 col-lg-4"&gt;
                  &#9;&#9;&#9;&lt;div class="card bg-dark text-white"&gt;
                  &#9;&#9;&#9;&#9;&lt;img src="../img/Thumbnail.svg" class="card-img img-responsive" alt="Alt Text"&gt;
                  &#9;&#9;&#9;&#9;&lt;div class="card-img-overlay"&gt;
                  &#9;&#9;&#9;&#9;&#9;&lt;a href="#"&gt;
                  &#9;&#9;&#9;&#9;&#9;&#9;&lt;h5 class="card-title"&gt;PROJECT NAME&lt;/h5&gt;
                  &#9;&#9;&#9;&#9;&#9;&lt;/a&gt;
                  &#9;&#9;&#9;&#9;&#9;&lt;p class="card-text text-truncate-2-line"&gt;This is a wider card with
                  &#9;&#9;&#9;&#9;&#9;&#9;supporting text below as a natural lead-in to additional content.
                  &#9;&#9;&#9;&#9;&#9;&lt;/p&gt;
                  &#9;&#9;&#9;&#9;&lt;/div&gt;
                  &#9;&#9;&#9;&lt;/div&gt;
                  &#9;&#9;&lt;/div&gt;
                  &#9;&lt;/div&gt;
                  &lt;/div&gt;
                </code>
            </pre>
            <!-- Code example -->
            <h3>Accessibility</h3>
            <p>To ensure accessibility, always include descriptive and meaningful alt text for card images.
            </p>
          </div> <!-- Content  -->
        </div><!-- Row  -->
      </div><!-- Container -->
    </div>

    <script src="../js/prism.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>