<!doctype html>
<html lang="en">

<head>
    <title>Anh Bien - Design System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- This is where you put your google font in if applicable -->
    <!--     <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet"> -->

    <!-- This is the link to the toggle hamburger -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/anhbien.css">
    <link rel="stylesheet" href="../css/prism.css">
</head>

<body>

    <div class="d-flex">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="toggle-btn">
                    <span class="sr-only">Toggle Menu</span>
                    <div id="nav-icon1">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
            </div>
            <div class="p-4 pt-6">
                <h1><a href="../index.html" class="logo">Your Logo</a></h1>

                <ul class="list-unstyled components">

                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"
                            class="dropdown-toggle">Foundations</a>

                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="../foundation/type.html">Typography</a>
                            </li>
                            <li>
                                <a href="../foundation/color.html">Color</a>
                            </li>
                            <li>
                                <a href="../foundation/logo.html">Logo</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#ComponentsSubmenu" data-toggle="collapse" aria-expanded="false"
                            class="dropdown-toggle">Components</a>
                        <ul class="collapse.show list-unstyled" id="ComponentsSubmenu">
                            <li>
                                <a href="component1.html">Comp-1-label</a>
                            </li>
                            <li>
                                <a href="component2.html">Comp-2-label</a>
                            </li>
                            <li>
                                <a href="#">Comp-3-label</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#PatternsSubmenu" data-toggle="collapse" aria-expanded="false"
                            class="dropdown-toggle">Patterns</a>
                        <ul class="collapse list-unstyled" id="PatternsSubmenu">
                            <li>
                                <a href="../patterns/pattern1.html">Pattern-1-label</a>
                            </li>
                            <li>
                                <a href="../patterns/pattern2.html">Pattern-2-label</a>
                            </li>

                        </ul>
                    </li>


                </ul>




            </div>
        </nav>

        <!-- Page Content  -->
        <div class="container">
            <div class="row p-5 pt-6">
                <div id="content">
                    <div class="jumbotron color-dark">
                        <h1 class="text-white">Footer</h1>
                    </div>
                    <h2>Preview</h2>
                    <p>Footer must be included on all pages created using this design system. 
                        It includes a navigation menu and allows users to navigate to different pages of the website.
                        It also include social media icons that link to social media pages.
                    </p>
                    <div class="px-2 py-5 border">
                        <footer class="color-dark-hover text-light py-5">
                            <div class="container">
                                <div class="row text-center">
                                    <div class="col-12 col-lg-8">
                                        <nav class="text-center text-lg-left">
                                            <ul class="p-0">
                                                <li class="d-block d-lg-inline p-1">
                                                    <a href="#">
                                                        <img src="../img/ColorReverse.png" width="64" alt="Logo">
                                                    </a></li>
                                                <li class="d-block d-lg-inline p-1">
                                                    <a href="#">Home</a>
                                                </li>
                                                <li class="d-block d-lg-inline p-1">
                                                    <a href="#">Portfolio</a>
                                                </li>
                                                <li class="d-block d-lg-inline p-1">
                                                    <a href="#">Resume</a>
                                                </li>
                                                <li class="d-block d-lg-inline p-1">
                                                    <a href="#">Contact</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <div class="col-12 col-lg-4 text-lg-right pb-3">
                                        <a class="d-inline pr-1" href="#">
                                            <img src="../img/linkedin.png" width="24" alt="LinkedIn">
                                        </a>
                                        <a class="d-inline" href="#">
                                            <img src="../img/github.png" width="24" alt="Github">
                                        </a>
                                    </div>
                                </div>
                                <div class="row text-center">
                                    <div class="col-12">
                                        <span>&copy; <script>
                                                document.write(new Date().getUTCFullYear());
                                            </script> Anh Bien. All rights reserved.
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </footer>
                    </div>
                    <!-- Code example-->
                    <h3>Code</h3>
                    <pre class="language-markup">
                        <code>
                            &lt;footer class="color-dark-hover text-light py-5"&gt;
                            &#9;&lt;div class="container"&gt;
                            &#9;&#9;&lt;div class="row text-center"&gt;
                            &#9;&#9;&#9;&lt;div class="col-12 col-lg-8"&gt;
                            &#9;&#9;&#9;&#9;&lt;nav class="text-center text-lg-left"&gt;
                            &#9;&#9;&#9;&#9;&#9;&lt;ul class="p-0"&gt;
                            &#9;&#9;&#9;&#9;&#9;&#9;&lt;li class="d-block d-lg-inline p-1"&gt;
                            &#9;&#9;&#9;&#9;&#9;&#9;&#9;&lt;a href="#"&gt;
                            &#9;&#9;&#9;&#9;&#9;&#9;&#9;&#9;&lt;img src="../img/ColorReverse.png" width="64" alt="Logo"&gt;
                            &#9;&#9;&#9;&#9;&#9;&#9;&#9;&lt;/a&gt;&lt;/li&gt;
                            &#9;&#9;&#9;&#9;&#9;&#9;&lt;li class="d-block d-lg-inline p-1"&gt;
                            &#9;&#9;&#9;&#9;&#9;&#9;&#9;&lt;a href="#"&gt;Home&lt;/a&gt;
                            &#9;&#9;&#9;&#9;&#9;&#9;&lt;/li&gt;
                            &#9;&#9;&#9;&#9;&#9;&#9;&lt;li class="d-block d-lg-inline p-1"&gt;
                            &#9;&#9;&#9;&#9;&#9;&#9;&#9;&lt;a href="#"&gt;Portfolio&lt;/a&gt;
                            &#9;&#9;&#9;&#9;&#9;&#9;&lt;/li&gt;
                            &#9;&#9;&#9;&#9;&#9;&#9;&lt;li class="d-block d-lg-inline p-1"&gt;
                            &#9;&#9;&#9;&#9;&#9;&#9;&#9;&lt;a href="#"&gt;Resume&lt;/a&gt;
                            &#9;&#9;&#9;&#9;&#9;&#9;&lt;/li&gt;
                            &#9;&#9;&#9;&#9;&#9;&#9;&lt;li class="d-block d-lg-inline p-1"&gt;
                            &#9;&#9;&#9;&#9;&#9;&#9;&#9;&lt;a href="#"&gt;Contact&lt;/a&gt;
                            &#9;&#9;&#9;&#9;&#9;&#9;&lt;/li&gt;
                            &#9;&#9;&#9;&#9;&#9;&lt;/ul&gt;
                            &#9;&#9;&#9;&#9;&lt;/nav&gt;
                            &#9;&#9;&#9;&lt;/div&gt;
                            &#9;&#9;&#9;&lt;div class="col-12 col-lg-4 text-lg-right pb-3"&gt;
                            &#9;&#9;&#9;&#9;&lt;a class="d-inline pr-1" href="#"&gt;
                            &#9;&#9;&#9;&#9;&#9;&lt;img src="../img/linkedin.png" width="24" alt="LinkedIn"&gt;
                            &#9;&#9;&#9;&#9;&lt;/a&gt;
                            &#9;&#9;&#9;&#9;&lt;a class="d-inline" href="#"&gt;
                            &#9;&#9;&#9;&#9;&#9;&lt;img src="../img/github.png" width="24" alt="Github"&gt;
                            &#9;&#9;&#9;&#9;&lt;/a&gt;
                            &#9;&#9;&#9;&lt;/div&gt;
                            &#9;&#9;&lt;/div&gt;
                            &#9;&#9;&lt;div class="row text-center"&gt;
                            &#9;&#9;&#9;&lt;div class="col-12"&gt;
                            &#9;&#9;&#9;&#9;&lt;span&gt;&copy;
                            &#9;&#9;&#9;&#9;&#9;&#9;&lt;script&gt;document.write(new Date().getUTCFullYear());&lt;/script&gt;
                            &#9;&#9;&#9;&#9;&#9;Anh Bien. All rights reserved.
                            &#9;&#9;&#9;&#9;&lt;/span&gt;
                            &#9;&#9;&#9;&lt;/div&gt;
                            &#9;&#9;&lt;/div&gt;
                            &#9;&lt;/div&gt;
                            &lt;/footer&gt;
                        </code>
                    </pre>
                    <!-- Code example -->
                    <h3>Accessibility</h3>
                    <p>Ensure the logo and social media icons have <code>alt-text</code>.</p>
                </div> <!-- Content  -->
            </div><!-- Row  -->
        </div><!-- Container -->
    </div>
    <script src="../js/prism.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>