<!doctype html>
<html lang="en">

<head>
    <title>Anh Bien - Design System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/anhbien.css">
    <link rel="stylesheet" href="../css/prism.css">
</head>

<body>
    <div class="d-flex">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="toggle-btn">
                    <span class="sr-only">Toggle Menu</span>
                    <div id="nav-icon1">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
            </div>
            <div class="p-4 pt-6">
                <div class="logo">
                    <a href="../index.html"><img alt="Anh Bien logo" src="../img/Color.png" width="80%" /></a>
                </div>

                <ul class="list-unstyled components">
                    <li>
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"
                            class="dropdown-toggle">Foundations</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="../foundation/type.html">Typography</a>
                            </li>
                            <li>
                                <a href="../foundation/color.html">Color</a>
                            </li>
                            <li>
                                <a href="../foundation/logo.html">Logo</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#ComponentsSubmenu" data-toggle="expand" aria-expanded="true"
                            class="dropdown-toggle">Components</a>
                        <ul class="expand list-unstyled" id="ComponentsSubmenu">
                            <li>
                                <a href="../components/buttons.html">Buttons</a>
                            </li>
                            <li class="active" aria-current="page">
                                <a href="../components/navbar.html">Navbar</a>
                            </li>
                            <li>
                                <a href="../components/cards.html">Cards</a>
                            </li>
                            <li>
                                <a href="../components/footer.html">Footer</a>
                            </li>
                            <li>
                                <a href="../components/jumbotron.html">Jumbotron</a>
                            </li>
                            <li>
                                <a href="../components/paragraphs.html">Paragraphs</a>
                            </li>
                            <li>
                                <a href="../components/skillTiles.html">Skill Tiles</a>
                            </li>
                            <li>
                                <a href="../components/timelineGrid.html">Timeline Grids</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#PatternsSubmenu" data-toggle="collapse" aria-expanded="false"
                            class="dropdown-toggle">Patterns</a>
                        <ul class="collapse list-unstyled" id="PatternsSubmenu">
                            <li>
                                <a href="../patterns/homepage_pattern.html">Home Page</a>
                            </li>
                            <li>
                                <a href="../patterns/portfolio-detail-pattern.html">Portfolio Details</a>
                            </li>
                            <li>
                                <a href="../patterns/resume-pattern.html">Resume</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Page Content  -->
        <div class="container">
            <div class="row p-5 pt-6">
                <div id="content">
                    <div class="jumbotron color-dark">
                        <h1 class="text-white">Navbar</h1>
                    </div>
                    <h2>Preview</h2>
                    <p>The navigation bar must be included on all pages created using this design system. The navigation
                        bar includes a navigation menu and allows users to navigate to different pages of the website.
                        The following navigation bar example is responsive.
                        Adjust the browser size to view responsive behaviors.
                    </p>
                    <div class="px-2 py-5 border">
                        <nav class="navbar navbar-expand-lg navbar-dark color-dark-hover">
                            <a class="navbar-brand" href="#">
                                <img src="../img/Color.png" width="64" alt="Logo">
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse justify-content-end" id="navbar">
                                <ul class="navbar-nav">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#" aria-current="page">HOME<span
                                                class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">PORTFOLIO</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">RESUME</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">CONTACT</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <!-- Code example-->
                    <h3>Code</h3>
                    <pre class="language-markup">
                        <code>
                            &lt;nav class="navbar navbar-expand-lg navbar-dark color-dark-hover"&gt;
                            &#9;&lt;a class="navbar-brand" href="#"&gt;
                            &#9;&#9;&lt;img src="../img/Color.png" width="64" alt="Logo"&gt;
                            &#9;&lt;/a&gt;
                            &#9;&lt;button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarNav"
                            &#9;&#9;aria-expanded="false" aria-label="Toggle navigation"&gt;
                            &#9;&#9;&lt;span class="navbar-toggler-icon"&gt;&lt;/span&gt;
                            &#9;&lt;/button&gt;
                            &#9;&lt;div class="collapse navbar-collapse justify-content-end" id="navbar"&gt;
                            &#9;&#9;&lt;ul class="navbar-nav"&gt;
                            &#9;&#9;&#9;&lt;li class="nav-item active"&gt;
                            &#9;&#9;&#9;&#9;&lt;a class="nav-link" href="#" aria-current="page"&gt;HOME&lt;span class="sr-only"&gt;(current)&lt;/span&gt;&lt;/a&gt;
                            &#9;&#9;&#9;&lt;/li&gt;
                            &#9;&#9;&#9;&lt;li class="nav-item"&gt;
                            &#9;&#9;&#9;&#9;&lt;a class="nav-link" href="#"&gt;PORTFOLIO&lt;/a&gt;
                            &#9;&#9;&#9;&lt;/li&gt;
                            &#9;&#9;&#9;&lt;li class="nav-item"&gt;
                            &#9;&#9;&#9;&#9;&lt;a class="nav-link" href="#"&gt;RESUME&lt;/a&gt;
                            &#9;&#9;&#9;&lt;/li&gt;
                            &#9;&#9;&#9;&lt;li class="nav-item"&gt;
                            &#9;&#9;&#9;&#9;&lt;a class="nav-link" href="#"&gt;CONTACT&lt;/a&gt;
                            &#9;&#9;&#9;&lt;/li&gt;
                            &#9;&#9;&lt;/ul&gt;
                            &#9;&lt;/div&gt;
                            &lt;/nav&gt;
                        </code>
                    </pre>
                    <!-- Code example -->
                    <h3>Accessibility</h3>
                    <p>Ensure the current page has <code>aria-current="page"</code>.</p>
                </div> <!-- Content  -->
            </div><!-- Row  -->
        </div><!-- Container -->
    </div>
    <script src="../js/prism.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>