<!doctype html>
<html lang="en">

<head>
    <title>Anh Bien - Design System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/anhbien.css">
    <link rel="stylesheet" href="../css/prism.css">
</head>

<body>
    <div class="d-flex">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="toggle-btn">
                    <span class="sr-only">Toggle Menu</span>
                    <div id="nav-icon1">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
            </div>
            <div class="p-4 pt-6">
                <div class="logo">
                    <a href="../index.html"><img alt="Anh Bien logo" src="../img/Color.png" width="80%" /></a>
                </div>

                <ul class="list-unstyled components">
                    <li>
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"
                            class="dropdown-toggle">Foundations</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="../foundation/type.html">Typography</a>
                            </li>
                            <li>
                                <a href="../foundation/color.html">Color</a>
                            </li>
                            <li>
                                <a href="../foundation/logo.html">Logo</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#ComponentsSubmenu" data-toggle="expand" aria-expanded="true"
                            class="dropdown-toggle">Components</a>
                        <ul class="expand list-unstyled" id="ComponentsSubmenu">
                            <li>
                                <a href="../components/buttons.html">Buttons</a>
                            </li>
                            <li>
                                <a href="../components/navbar.html">Navbar</a>
                            </li>
                            <li>
                                <a href="../components/cards.html">Cards</a>
                            </li>
                            <li>
                                <a href="../components/footer.html">Footer</a>
                            </li>
                            <li>
                                <a href="../components/jumbotron.html">Jumbotron</a>
                            </li>
                            <li>
                                <a href="../components/paragraphs.html">Paragraphs</a>
                            </li>
                            <li class="active" aria-current="page">
                                <a href="../components/skillTiles.html">Skill Tiles</a>
                            </li>
                            <li>
                                <a href="../components/timelineGrid.html">Timeline Grids</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#PatternsSubmenu" data-toggle="collapse" aria-expanded="false"
                            class="dropdown-toggle">Patterns</a>
                        <ul class="collapse list-unstyled" id="PatternsSubmenu">
                            <li>
                                <a href="../patterns/homepage_pattern.html">Home Page</a>
                            </li>
                            <li>
                                <a href="../patterns/portfolio-detail-pattern.html">Portfolio Details</a>
                            </li>
                            <li>
                                <a href="../patterns/resume-pattern.html">Resume</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Page Content  -->
        <div class="container">
            <div class="row p-5 pt-6">
                <div id="content">
                    <div class="jumbotron color-dark">
                        <h1 class="text-white">Skill Tiles</h1>
                    </div>
                    <h2>Preview</h2>
                    <p>Skill tiles can be use on resume page. Each tile consists of an icon, skill name, and
                        description.</p>
                    <div class="p-2 border">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-6">
                                    <div class="container">
                                        <div class="row">
                                            <div class="p-2 col-12 col-md-6 col-lg-12">
                                                <div class="container">
                                                    <div class="row text-left text-md-center text-lg-left">
                                                        <div class="col-3 col-md-12 col-lg-3">
                                                            <img src="../img/skill-computer.png" width="50"
                                                                alt-text="" />
                                                        </div>
                                                        <div class="col-9 col-md-12 col-lg-9">
                                                            <strong>Skill name</strong>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="p-2 col-12 col-md-6 col-lg-12">
                                                <div class="container">
                                                    <div class="row text-left text-md-center text-lg-left">
                                                        <div class="col-3 col-md-12 col-lg-3">
                                                            <img src="../img/skill-computer.png" width="50"
                                                                alt-text="" />
                                                        </div>
                                                        <div class="col-9 col-md-12 col-lg-9">
                                                            <strong>Skill name</strong>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="p-2 col-12 col-md-6 col-lg-12">
                                                <div class="container">
                                                    <div class="row text-left text-md-center text-lg-left">
                                                        <div class="col-3 col-md-12 col-lg-3">
                                                            <img src="../img/skill-computer.png" width="50"
                                                                alt-text="" />
                                                        </div>
                                                        <div class="col-9 col-md-12 col-lg-9">
                                                            <strong>Skill name</strong>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="p-2 col-12 col-md-6 col-lg-12">
                                                <div class="container">
                                                    <div class="row text-left text-md-center text-lg-left">
                                                        <div class="col-3 col-md-12 col-lg-3">
                                                            <img src="../img/skill-computer.png" width="50"
                                                                alt-text="" />
                                                        </div>
                                                        <div class="col-9 col-md-12 col-lg-9">
                                                            <strong>Skill name</strong>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Code example-->
                    <h3>Code</h3>
                    <pre class="language-markup">
                        <code>
                            &lt;div class="container"&gt;
                            &#9;&lt;div class="row"&gt;
                            &#9;&#9;&lt;div class="p-2 col-12 col-md-6 col-lg-12"&gt;
                            &#9;&#9;&#9;&lt;div class="container"&gt;
                            &#9;&#9;&#9;&#9;&lt;div class="row text-left text-md-center text-lg-left"&gt;
                            &#9;&#9;&#9;&#9;&#9;&lt;div class="col-3 col-md-12 col-lg-3"&gt;
                            &#9;&#9;&#9;&#9;&#9;&#9;&lt;img src="../img/skill-computer.png" width="50" alt-text="" /&gt;
                            &#9;&#9;&#9;&#9;&#9;&lt;/div&gt;
                            &#9;&#9;&#9;&#9;&#9;&lt;div class="col-9 col-md-12 col-lg-9"&gt;
                            &#9;&#9;&#9;&#9;&#9;&#9;&lt;strong&gt;Skill name&lt;/strong&gt;
                            &#9;&#9;&#9;&#9;&#9;&#9;&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit
                            &#9;&#9;&#9;&#9;&#9;&#9;&lt;/p&gt;
                            &#9;&#9;&#9;&#9;&#9;&lt;/div&gt;
                            &#9;&#9;&#9;&#9;&lt;/div&gt;
                            &#9;&#9;&#9;&lt;/div&gt;
                            &#9;&#9;&lt;/div&gt;
                            &#9;&lt;/div&gt;
                            &lt;/div&gt;
                        </code>
                        </pre>
                    <!-- Code example -->
                    <h3>Accessibility</h3>
                    <p>To ensure accessibility, always include descriptive and meaningful <code>alt-text</code> for
                        skill images.
                    </p>
                </div> <!-- Content  -->
            </div><!-- Row  -->
        </div><!-- Container -->
    </div>

    <script src="../js/prism.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>