<!doctype html>
<html lang="en">

<head>
    <title>Anh Bien - Design System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/anhbien.css">
    <link rel="stylesheet" href="../css/prism.css">
</head>

<body>
    <div class="d-flex">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="toggle-btn">
                    <span class="sr-only">Toggle Menu</span>
                    <div id="nav-icon1">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
            </div>
            <div class="p-4 pt-6">
                <div class="logo">
                    <a href="../index.html"><img alt="Anh Bien logo" src="../img/Color.png" width="80%" /></a>
                </div>

                <ul class="list-unstyled components">
                    <li>
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"
                            class="dropdown-toggle">Foundations</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="../foundation/type.html">Typography</a>
                            </li>
                            <li>
                                <a href="../foundation/color.html">Color</a>
                            </li>
                            <li>
                                <a href="../foundation/logo.html">Logo</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#ComponentsSubmenu" data-toggle="expand" aria-expanded="true"
                            class="dropdown-toggle">Components</a>
                        <ul class="expand list-unstyled" id="ComponentsSubmenu">
                            <li>
                                <a href="../components/buttons.html">Buttons</a>
                            </li>
                            <li>
                                <a href="../components/navbar.html">Navbar</a>
                            </li>
                            <li>
                                <a href="../components/cards.html">Cards</a>
                            </li>
                            <li>
                                <a href="../components/footer.html">Footer</a>
                            </li>
                            <li>
                                <a href="../components/jumbotron.html">Jumbotron</a>
                            </li>
                            <li>
                                <a href="../components/paragraphs.html">Paragraphs</a>
                            </li>
                            <li>
                                <a href="../components/skillTiles.html">Skill Tiles</a>
                            </li>
                            <li class="active" aria-current="page">
                                <a href="../components/timelineGrid.html">Timeline Grids</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#PatternsSubmenu" data-toggle="collapse" aria-expanded="false"
                            class="dropdown-toggle">Patterns</a>
                        <ul class="collapse list-unstyled" id="PatternsSubmenu">
                            <li>
                                <a href="../patterns/homepage_pattern.html">Home Page</a>
                            </li>
                            <li>
                                <a href="../patterns/portfolio-detail-pattern.html">Portfolio Details</a>
                            </li>
                            <li>
                                <a href="../patterns/resume-pattern.html">Resume</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Page Content  -->
        <div class="container">
            <div class="row p-5 pt-6">
                <div id="content">
                    <div class="jumbotron color-dark">
                        <h1 class="text-white">Timeline</h1>
                    </div>
                    <h2>Preview</h2>
                    <p>A timeline is an <code>article</code>, each <code>section</code> contains a responsive
                        <code>div</code> for any content.</p>
                    <div class="p-4 border">
                        <article class="timeline">
                            <section>
                                <div class="content">
                                    <h3>Company Name</h3>
                                    <p>
                                        <img src="../img/pin.png" width="16" alt="location pin" />
                                        <strong>Location</strong>
                                    </p>
                                    <p><em>November 2020 - present</em></p>
                                    <ul>
                                        <li>
                                            Culpa qui officia deserunt mollit anim id esto polujimi laborum. Sed ut
                                            perspiciatis unde omnis iste eropluk onatuspop error sit voluptartem
                                            accusantium
                                        </li>
                                        <li>
                                            Culpa qui officia deserunt mollit anim id esto polujimi laborum. Sed ut
                                            perspiciatis unde omnis iste eropluk onatuspop error sit voluptartem
                                            accusantium
                                        </li>
                                    </ul>
                                </div>
                            </section>
                            <section>
                                <div class="content">
                                    <h3>Company Name</h3>
                                    <p>
                                        <img src="../img/pin.png" width="16" alt="location pin" />
                                        <strong>Location</strong>
                                    </p>
                                    <p><em>November 2020 - present</em></p>
                                    <ul>
                                        <li>
                                            Culpa qui officia deserunt mollit anim id esto polujimi laborum. Sed ut
                                            perspiciatis unde omnis iste eropluk onatuspop error sit voluptartem
                                            accusantium
                                        </li>
                                        <li>
                                            Culpa qui officia deserunt mollit anim id esto polujimi laborum. Sed ut
                                            perspiciatis unde omnis iste eropluk onatuspop error sit voluptartem
                                            accusantium
                                        </li>
                                    </ul>
                                </div>
                            </section>
                            <section>
                                <div class="content">
                                    <h3>Company Name</h3>
                                    <p>
                                        <img src="../img/pin.png" width="16" alt="location pin" />
                                        <strong>Location</strong>
                                    </p>
                                    <p><em>November 2020 - present</em></p>
                                    <ul>
                                        <li>
                                            Culpa qui officia deserunt mollit anim id esto polujimi laborum. Sed ut
                                            perspiciatis unde omnis iste eropluk onatuspop error sit voluptartem
                                            accusantium
                                        </li>
                                        <li>
                                            Culpa qui officia deserunt mollit anim id esto polujimi laborum. Sed ut
                                            perspiciatis unde omnis iste eropluk onatuspop error sit voluptartem
                                            accusantium
                                        </li>
                                    </ul>
                                </div>
                            </section>
                        </article>
                    </div>
                    <!-- Code example-->
                    <h3>Code</h3>
                    <pre class="language-markup">
                        <code>
                            &lt;article class="timeline"&gt;
                            &#9;&lt;section&gt;
                            &#9;&#9;&lt;div class="content"&gt;
                            &#9;&#9;&#9;&lt;h3&gt;Company Name&lt;/h3&gt;
                            &#9;&#9;&#9;&lt;p&gt;
                            &#9;&#9;&#9;&#9;&lt;img src="../img/pin.png" width="16" alt="location pin" /&gt;
                            &#9;&#9;&#9;&#9;&lt;strong&gt;Location&lt;/strong&gt;
                            &#9;&#9;&#9;&lt;/p&gt;
                            &#9;&#9;&#9;&lt;p&gt;&lt;em&gt;November 2020 - present&lt;/em&gt;&lt;/p&gt;
                            &#9;&#9;&#9;&lt;ul&gt;
                            &#9;&#9;&#9;&#9;&lt;li&gt;
                            &#9;&#9;&#9;&#9;&#9;Culpa qui officia deserunt mollit anim id esto polujimi laborum. Sed ut
                            &#9;&#9;&#9;&#9;&#9;perspiciatis unde omnis iste eropluk onatuspop error sit voluptartem
                            &#9;&#9;&#9;&#9;&#9;accusantium
                            &#9;&#9;&#9;&#9;&lt;/li&gt;
                            &#9;&#9;&#9;&#9;&lt;li&gt;
                            &#9;&#9;&#9;&#9;&#9;Culpa qui officia deserunt mollit anim id esto polujimi laborum. Sed ut
                            &#9;&#9;&#9;&#9;&#9;perspiciatis unde omnis iste eropluk onatuspop error sit voluptartem
                            &#9;&#9;&#9;&#9;&#9;accusantium
                            &#9;&#9;&#9;&#9;&lt;/li&gt;
                            &#9;&#9;&#9;&lt;/ul&gt;
                            &#9;&#9;&lt;/div&gt;
                            &#9;&lt;/section&gt;
                            &lt;/article&gt;
                        </code>
                    </pre>
                    <!-- Code example -->
                    <h3>Accessibility</h3>
                    <p>N/A</p>
                </div> <!-- Content  -->
            </div><!-- Row  -->
        </div><!-- Container -->
    </div>
    <script src="../js/prism.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>